/* Seteo de archivos */
*    {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
/* Estilos Generales */

body {
	font-family: 'Raleway', sans-serif !important;
	color: #fff;
}
.text{
	color:black;
}
.backgr {
	background: linear-gradient(rgb(230, 94, 223) 45%, rgb(63, 8, 47));
}
.container-flex-column {
	display:flex;
	flex-direction:column;
	justify-content: center;
	padding:2em;
	height: 100vh;
}
.vh100 {
	height:100vh;
}
.logo {
	max-width:100%;
}
/* Estilos vista register*/
.lyft-bckg {
	background-image: url('../assets/img/background.jpg');
	background-position: center;
	background-size: cover;
}
.container-flex-row {
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	padding:2em;
	height: 100vh;
}
/* Estilos vista phone */

.phone-number {
	display: inline-block;
	vertical-align: top;
}
.space {
	margin-bottom: 10em;
}
